// .questionnaire-main {
//   background-color: #232323;
//   color: #fff;
// }

.input-m-f {
  max-width: 48px;
  text-align: center;
  display: inline-block;
  padding: 3px;
  padding-right: 0;
  font-size: 0.8rem;
}
@media (max-width: 991px) {
  .form-control {
    max-width: 100%;
  }
}
.mat-form-field {
  width: 100%;
}
.mat-form-field-label,
mat-label,
.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
  color: black;
  opacity: 0.7;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
}
.td-size {
  max-width: 48px;
}
td {
  text-align: center;
}
th,
td {
  vertical-align: middle;
  padding: 0.2rem;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.h2 {
  font-size: 1rem;
  margin-bottom: 0;
}
table {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.tr-od {
  background-color: rgba(63, 81, 181, 0.8);
  color: #fff;
  border-color: #fff;
  border-left-color: inherit;
  td:last-child,
  th:last-child {
    border-right-color: rgb(128, 128, 128);
  }
  &.question {
    background-color: #3f51b5;
    color: #fff;
    th {
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.mr-1 {
  margin-right: 1rem;
}

.pt-1,
.py-1,
.p-1 {
  padding-top: 1rem;
}
.pb-1,
.py-1,
.p-1 {
  padding-bottom: 1rem;
}
.pl-1,
.px-1,
.p-1 {
  padding-left: 1rem;
}
.pr-1,
.px-1,
.p-1 {
  padding-right: 1rem;
}
